.main-theme{
   //colors
   $color-bg-header:#86A3B4;
   $color-buttom-header:#0048D9;
   $color-font-main:#263036;
   $color-font-type1:#1E1E1E;
   $color-font-linksname:#1C2E8C;
   $color-font-name:#FFFFFF;
   $color-main-type2:#000000;

   //sizes
   $margin-main-bottom:49px;
   $margin-header-bottom:36px;
   $padding-title-bottom:15px;

}