.main-theme {
  /*colors*/
  --color-bg-header: #86a3b4;
  --color-buttom-header: #0048d9;
  --color-font-main: #263036;
  --color-font-type1: #1e1e1e;
  --color-font-linksname: #1c2e8c;
  --color-font-name: #ffffff;
  --color-main-type2: #000000;

  /*sizes*/
  --margin-main-bottom: 49px;
  --margin-header-bottom: 36px;
  --padding-title-bottom: 15px;
}
