.my-theme{
   //colors
   $color-bg-header:#55828B;
   $color-buttom-header:#C9E4CA;
   $color-font-main:rgb(34, 33, 33);
   $color-font-type1:rgb(47, 45, 45);
   $color-font-linksname:#ecf8f8;
   $color-font-name:rgb(53, 50, 93);
   $color-main-type2:rgb(34, 33, 33);

 }