body{
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   
  }
  .main-theme{
   /*colors*/
   --color-bg-header:#86A3B4;
   --color-buttom-header:#0048D9;
   --color-font-main:#263036;
   --color-font-type1:#1E1E1E;
   --color-font-linksname:#1C2E8C;
   --color-font-name:#FFFFFF;
   --color-main-type2:#000000;
   
   /*sizes*/
   --margin-main-bottom:49px;
   --margin-header-bottom:36px;
   --padding-title-bottom:15px;
      }
   .wrapper{
   max-width: 1200px;
   display:flex;
   min-height: 1667px;
     
}

.header{
background: var(--color-bg-header);
border-right-color: var(--color-main-type2);
border-right-style: solid;
border-width: 1px;
box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
}
   
.name{
width: 260px;
height: 96px;
font-size: 40px;
line-height: 48px;
color: var(--color-font-linksname);
margin: 58px 0 36px 40px;
}

.name::first-line{
   color: var(--color-font-name);
}

.image{
   display: block;
   max-width: 385px;
   max-height: 292px;
   margin: 0 auto;
         
  } 
  .image:hover{
   transform: scale(2);
   box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.453);}
  
.button{
   display: inline-block;
   background: var(--color-buttom-header);
   color: var(--color-font-name);
   border-radius: 6px;
   width: 20%;
   padding: 10px 16px;
   margin: 1.25em 8em;
   text-align: center;
   text-decoration: none;
   
   }
   .title{
      font-size: 2rem;
      line-height: 2.4rem;
      color: var(--color-font-main);
       }
   .padding{
      padding-bottom: var(--padding-title-bottom);
     }
   .border{
      border-bottom-color:var(--color-main-type2);
      border-bottom-style: solid;
      border-bottom-width: 5px;
      margin-right: 100px;
        }
      
   .info_container{
   margin: 30px 0 0 40px;
   }
   
   .info_container .border{
      border-bottom-color: var(--color-font-type1); 
      border-bottom-width: 6px;
      border-bottom-style: solid;
      margin-right: 54px;
   } 
   
   .textstyle{
      font-weight: 600;
      font-size: 1rem;
      line-height: 19px;
      color:var(--color-font-main);
      }
   .margin{
     margin-top:var(--margin-header-bottom);
     margin-bottom:var(--margin-header-bottom);
      }
   
   .first_container .style{
      margin-bottom: 11px;
      padding: 0;
   }   
   .infohead{
   font-size: 1.5rem;
   line-height: 29px;
   }
   
   .blue{
      color:var(--color-font-linksname);
      text-decoration: none;
   }
   
   .second_container .infolang{
   font-size: 1.25rem;
   line-height: 24px;
   color:var(--color-font-type1); 
   }
 
   .maincontainer{
   max-width: 706px;
   margin-left: 55px;
   
   }
   
   .summary_container{
      margin-top: 58px;
   }
   
   .sizes{
      margin-top: 28px;
   }
   .main-margin{
      margin-bottom: var(--margin-main-bottom);
   }
   .title-main{
   font-size: 2.25rem;
   line-height: 2.7rem;
   color: var(--color-font-type1); 
   }
   
   .list{
   margin-left: -20px;
   column-count: 2;
   width: 100%;
   column-gap: 27px;
   }
   
   .workcontainer p{
   margin: 0;
   padding: 0;
    }
   
   .semibold{
      font-weight: 600;
   }
   
   .textstyle-w{
   font-size: 0.875rem;
   line-height: 1.063rem;
   font-weight: 400;
   color:var(--color-main-type2);
   }
   
   .block-1{
      margin: 31px 54px 0 0;
   }
   
   .block-2{
      margin: 15px 54px 0 0;
      opacity:.7;
   }
   .block-2:hover{
      opacity: 1;
   }
   .edu_container p{
      margin: 0;
      padding: 0;
   }
   .normal{
      font-weight: 400;
   }
@media screen and (max-width:700px) {
   .wrapper{
      min-height:2700px;
       display:flex;
      flex-direction:column;
       }

       .header{
         box-shadow: none;
       }
      .info_container{
      margin: 0 1.25em 3.75em 1.8em;
      }
      .maincontainer{
      margin: 1em;
       }
       .title-main{
         font-size: 2rem;
       }
       .border{
       margin-right: 1.8em;
       }
       .image:hover{
      transform: none;
       }
}

  



/*Styles for the form*/
.form_wrapper{
   max-width: 1024px;
   }

 .table_border{
   border: 1px solid black;
   border-collapse: collapse;}

input,
textarea,
select,
button {
appearance: none;
background-color: transparent;
margin: 0;
padding: 0;
border: 0;
}

.form_container{
position: absolute;
top: 50%;
left:50%;
width: 35%;
transform: translate(-50%, -50%);
display: grid;
grid-template-columns: 100px 1fr;
grid-gap: 15px;
}

label{
   height: 25px;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   color: #6F7482;
   margin-bottom: 2px;
   grid-column: 1/2;
   }

input,
textarea,
select {
margin-top: 2px;
width: 436px;
font-weight: 400;
font-size: 16px;
border-radius: 4px;
grid-column: 3/4;
box-sizing: border-box;
}


input[type="email"]{
 padding: 12px;
 background-color:  #F8FAFC;
 height: 24px;
line-height: 150%;
letter-spacing: 0.01em;
 color: #B8BCCA;
}

input[type="email"]:focus{
outline: 1px solid #0048D9;
   }

textarea{
height: 139px;
line-height: 140%;
color: #B8BCCA;
background-color: #F8FAFC;
padding: 12px;
}

select{
height: 48px;
padding: 12px 48px 12px 12px;
background:  #F8FAFC url(./mdi_arrow_drop_down.svg) no-repeat center right;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
color: #3B4256;
}


input[type="submit"]{
cursor: pointer;
margin-top: 5px;
padding: 4px 16px;
width: 92px;
height: 32px;
background: #0048D9;
border: 1px solid #0048D9;
border-radius: 6px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
}
input[type="submit"]:hover{
background: #002266;
border: 1px solid #0048D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

input:invalid{
border: 1px solid #ED0131;
}
.erroremail{
   padding: 0;
   margin: 0;
   display: none;
   color: red;
}
.email:invalid + .erroremail{
display: block;
}

.asterick::after {
   content: "*";
   font-weight: bold;
   color: red;}


 