body{
   font-family: Arial, Helvetica, sans-serif;
   color:#333 ;
   }
  
   h1{
      font-style: italic;
      
   }
   .position{
      font-weight: bold;
   }
   .wrapper a {
      color: #00f;
      text-decoration: underline;
   }
   a:visited{
      color: #005;
   }
   a:hover{
      text-decoration: none;
   }
   th{
   text-transform: uppercase;
   background-color: rgba(114, 176, 149, 0.822);
   }
  
    .skills{
   list-style-type: square;
  }
  
  .border{
   border-bottom:2px solid rgba(61, 61, 63, 0.596);
  }

 
   img{
   border: 2px solid rgba(17, 61, 58, 0.61);
   padding: 10px;
   max-width: 100px;
   max-height: 100px;
   float: right;
   
  }   
 
  .head{
   float: left;
  } 

  .table{
   clear: both;
   }

  table{
   background-color: rgba(222,219,167,1); 
   width: 100%;
   }
   
  
