<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./styles.css">

</head>

<body>
   <div class="wrapper">
      <header class="header">
         <div class="topheader">
            <div>Account <img src="/layout/Account.png" alt="icon_of_account"></div>
            <div><img src="/layout/Shopping.png" alt="icon_of_shopping"></div>
         </div>
         <div class="categories">
            <div>Jewelry & Accessories</div>
            <div>Clothing & Shoes</div>
            <div>Home & Living</div>
            <div>Wedding & Party</div>
            <div>Toys & Entertainment</div>
            <div>Art & Collectibles</div>
            <div>Craft Supplies & Tools</div>
         </div>
      </header>
      <main class="main">
         <div>

         </div>

      </main>

      <footer class="footer">

      </footer>

   </div>


</body>

</html>