<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shop</title>
   <link rel="stylesheet" href="./styles.css">

</head>

<body>
   <div class="wrapper">
      <div class="background">
         <header>

            <div class="headercontainer">
               <div class="topheader">
                  <a href="" class="icon_of_account">Account</a>
                  <a href="" class="icon_of_shopping"> <img src="./img/Bag_alt.png" alt="icon_of_shopping"></a>
               </div>
               <div class="header_menu">
                  <nav>
                     <ul class="menu">
                        <li> <a href="" alt="Jewelry & Accessories">Jewelry & Accessories</li> </a>
                        <li> <a href="" alt="Clothing & Shoes"> Clothing & Shoes </li></a>
                        <li><a href="" alt="Home & Living"> Home & Living</li></a>
                        <li><a href="" alt="Wedding & Party">Wedding & Party</li></a>
                        <li><a href="" alt="Toys & Entertainment">Toys & Entertainment</li></a>
                        <li><a href="" alt="Art & Collectibles">Art & Collectibles</li></a>
                        <li><a href="" alt="Craft Supplies & Tools">Craft Supplies & Tools</li></a>
                     </ul>
                  </nav>
               </div>
            </div>

         </header>

         <main>
            <section>
               <div class="header_section">
                  <div class="header_banner">
                     <h1>Collections</h1>
                     <p>you can explore ans shop many different collection </br>
                        from various brands here.</p>
                     <a href="" class="bottom_goshopping"><span> shop now</span></a>
                  </div>
                  <img src="./img/engin-akyurt-jaZoffxg1yc-unsplash 1.jpg" alt="imageofproduct" class="img_banner">
               </div>
      </div>


      <div class="logos_brands">
         <div class="brand1"><img src="./img/brand-1.png" alt="brand-1"></div>
         <div class="brand2"> <img src="./img/brand-5.png" alt="brand-2"></div>
         <div class="brand3"><img src="./img/brand-3.png" alt="brand-3"></div>
         <div class="brand4"><img src="./img/brand-4.png" alt="brand-4"></div>
         <div class="brand5"><img src="./img/brand-2.png" alt="brand-5"></div>
      </div>
      <div class="categoriescontainer">
         <div class="categories_container">
            <div class="categoriesspan"> <span> Explore new and popular styles</span></div>
            <div class="item1"><a href=""><img src="./img/image-category-1.jpg" alt="item1"></a></div>
            <div class="item2"><a href=""><img src="./img/image-category-2.jpg" alt="item2"></a></div>
            <div class="item3"><a href=""><img src="./img/image-category-3.jpg" alt="item3"></a></div>
            <div class="item4"><a href=""><img src="./img/image-category-5.jpg" alt="item4"></a></div>
            <div class="item5"><a href=""><img src="./img/image-category-4.jpg" alt="item5">
                  <span class="categoriesdetail">Jacket 103 product</span></a></div>
         </div>
      </div>
      </section>
      <section class="section2">
         <div class="products_container">
            <h2 class="titleofproducts">New products</h2>
            <div class="productitems">
               <div class="productitems1">
                  <a href="" class="products"> <span> products</span></a>
                  <a href="" class="t-shirt"> <span> t-shirt</span></a>
                  <a href="" class="hoodies"> <span> hoodies</span></a>
                  <a href="" class="jacket"> <span> jacket</span></a>
                  <a href="" class="filter_button"> <span> filter</span></a>
               </div>
            </div>
         </div>
         <div class="products_wrapper">

            <div class="product1 properties"> <a href=""><img src="./img/p1.jpg" alt="product_joggers"> </a>
               <h3> Adicolor Classics Joggers</h3>
               <div class="product1_price padding">
                  <span class="nameofproduct">Joggers</span>
                  <span class="priceofproduct">$63.85</span>
               </div>
            </div>

            <div class="product2 properties"> <a href=""><img src="./img/p2.jpg" alt="product_bag"> </a>
               <h3> Nike Sportswear Futura Luxe</h3>
               <div class="product2_price padding">
                  <span class="nameofproduct">Bag</span>
                  <span class="priceofproduct">$130.00</span>
               </div>
            </div>
            <div class="product3 properties">
               <a href=""><img src="./img/p3.jpg" alt="product_scarf"> </a>
               <h3> Geometric print Scarf</h3>
               <div class="product3_price padding">
                  <span class="nameofproduct">Scarf</span>
                  <span class="priceofproduct">$53.00</span>
               </div>
            </div>
            <div class="product4 properties">
               <a href=""><img src="./img/p4.jpg" alt="product_hoodie"> </a>
               <h3> Yellow Reserved Hoodie</h3>
               <div class="product4_price padding">
                  <span class="nameofproduct">Hoodie</span>
                  <span class="oldpriceofproduct">$364.00</span>
                  <span class="priceofproduct color">$155.00</span>
               </div>
            </div>
            <div class="product5 properties">
               <a href=""><img src="./img/p5.jpg" alt="product_dress"> </a>
               <h3> Basic Dress Green </h3>
               <div class="product5_price padding">
                  <span class="product5_price_t">Dress</span>
                  <span class="product5_price_n">$236.00</span>
               </div>
            </div>
            <div class="product6 properties">
               <a href=""><img src="./img/p6.jpg" alt="product_shoe"> </a>
               <h3> Nike Air Zoom Pegasus </h3>
               <div class="product5_price padding">
                  <span class="product6_price_t">Shoe</span>
                  <span class="product6_price_old">$220.00</span>
                  <span class="product6_price_n">$198.00</span>
               </div>
            </div>
            <div class="product7 properties">
               <a href=""><img src="./img/p7.jpg" alt="product_windbreaker"> </a>
               <h3> Nike Repel Miler </h3>
               <div class="product7_price padding">
                  <span class="product7_price_t">Windbreaker</span>
                  <span class="product7_price_n">$120.50</span>
               </div>
            </div>
            <div class="product8 properties">
               <a href=""><img src="./img/p8.jpg" alt="product_sunglasses"> </a>
               <h3> Polarised Sunglasses </h3>
               <div class="product8_price padding">
                  <span class="product8_price_t">Glasses</span>
                  <span class="product8_price_n">$160.00</span>
               </div>
            </div>
         </div>
      </section>
      <div class="banner_wrapper">
         <div class="banner_container">
            <p class="banner_title">Lustrous yet understated. The new evening</br>
               wear collection exclusively offered at the</br> reopened Giorgio Armani boutique in Los</br> Angeles.</p>
            <a href="" alt="See collection" class="banner_bottom"> <span>See collection</span></a>
         </div>
      </div>
      <section class="section2">
         <div class="products_container">
            <h2 class="titleofproducts">Best sellers</h2>
            <div class="productitems">
               <div class="productitems1">
                  <a href="" class="products"> <span> products</span></a>
                  <a href="" class="t-shirt"> <span> t-shirt</span></a>
                  <a href="" class="hoodies"> <span> hoodies</span></a>
                  <a href="" class="jacket"> <span> jacket</span></a>
                  <a href="" class="show_button"> <span> show all</span></a>
               </div>
            </div>
         </div>



         <div class="bottom_products_wrapper products_wrapper">

            <div class="bottomproduct1 properties">
               <a href=""><img src="./img/p5.jpg" alt="product_dress"> </a>
               <h3> Basic Dress Green </h3>
               <div class="bottom_product_price padding">
                  <span class="bottom_product1_price_t">Dress</span>
                  <span class="bottomproduct1_price_n">$236.00</span>
               </div>
            </div>
            <div class="bottomproduct2 properties">
               <a href=""><img src="./img/p2.jpg" alt="product_bag"> </a>
               <h3> Nike Sportswear Futura Luxe </h3>
               <div class="bottom_product_price padding">
                  <span class="bottom_product1_price_t">Bag</span>
                  <span class="bottomproduct1_price_n">$130.00</span>
               </div>
            </div>


         </div>
      </section>


      </main>

      <footer class="footer">

      </footer>

   </div>

</body>

</html>