<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./styles.css">

</head>

<body>
   <div class="wrapper">
      <div class="background">
         <header>

            <div class="headerwrap">
               <div class="topheader">
                  <a href="" class="icon_of_account">Account</a>
                  <a href="" class="icon_of_shopping"> <img src="./Bag_alt.png" alt="icon_of_shopping"></a>
               </div>
               <div class="header_menu">
                  <nav>
                     <ul class="menu">
                        <li> <a href="">Jewelry & Accessories</li> </a>
                        <li> <a href=""> Clothing & Shoes </li></a>
                        <li><a href=""> Home & Living</li></a>
                        <li><a href="">Wedding & Party</li></a>
                        <li><a href="">Toys & Entertainment</li></a>
                        <li><a href="">Art & Collectibles</li></a>
                        <li><a href="">Craft Supplies & Tools</li></a>
                     </ul>
                  </nav>
               </div>
            </div>

         </header>

         <main>
            <div class="head_banner">
               <div class="banner">
                  <h1>Collections</h1>
                  <p>you can explore ans shop many different collection </br>
                     from various brands here.</p>
                  <a href="" class="bottom_goshopping"><span> shop now</span></a>
               </div>
               <img src="./engin-akyurt-jaZoffxg1yc-unsplash 1.jpg" alt="imageofproduct" class="img_banner">
            </div>
      </div>

      <div class="logos_brands">
         <div class="brand1"><img src="./brand-1.png" alt="brand-1"></div>
         <div class="brand2"> <img src="./brand-5.png" alt="brand-2"></div>
         <div class="brand3"><img src="./brand-3.png" alt="brand-3"></div>
         <div class="brand4"><img src="./brand-4.png" alt="brand-4"></div>
         <div class="brand5"><img src="./brand-2.png" alt="brand-5"></div>
      </div>
      <div class="hot_categories">
         <span> Explore new and popular styles</span>
         <div class="item1"><a href=""><img src="./image-category-1.jpg" alt="item1"></a></div>
         <div class="item2"><a href=""><img src="./image-category-2.jpg" alt="item2"></a></div>
         <div class="item3"><a href=""><img src="./image-category-3.jpg" alt="item3"></a></div>
         <div class="item4"><a href=""><img src="./image-category-5.jpg" alt="item4"></a></div>
         <div class="item5"><a href=""><img src="./image-category-4.jpg" alt="item5"> <span>Jacket 103
                  product</span></a></div>
      </div>

      </main>

      <footer class="footer">

      </footer>

   </div>

</body>

</html>