/*
font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins&family=Roboto&display=swap');

body{
   height: 100%;
}
.wrapper{
   
   }

.header{
   display: flex;
   background-color: #E5E5E5;
   height: 847px;
   width: 2034px;
   left: -28.45px;
   background: url(./flower-pattern.jpg);
   background-repeat: no-repeat;
}
.topheader{
   font-family: 'Popins', sans-serif;
   font-weight: 400;
   
  
   



}

