/*
font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins&family=Roboto&display=swap');

body{
   height: 100%;
}
.wrapper{
   max-width: 1920px;
   
   
   }
.header_wrapper{
    background-color:#E5E5E5;
    background-size:  100%;
   
   
}
.headerwrap{
   font-family: 'Popins', sans-serif;
   font-weight: 400;
}

.topheader{
   padding: 36px 387px 0px 328px;
   text-align: right;
  
   
}
.icon_of_account{
   background-image: url(./User.png);
   background-repeat: no-repeat;
   background-position: left;
   padding: 5px 0 0 30px;
}

.icon_of_shopping{
   padding: 0 0 0 80px;
}
.categories{
list-style: none;
padding: 0;
margin: 0;
}
   
.categories a{
   display: block;
}




